body {
    font-family:"Tahoma", Geneva, sans-serif;
    background-color: #BEBEBE;
}    

.bgimg {
    background-image: url(img/cat-photo-bg.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
}

.bgimg1 {
    background-image: url(img/background-gray.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
}

div {
    text-align: center;
    margin-top:20px;
}

.content {
    width: 90%;
    position:relative;
    margin:auto;
}

.content img {
    height: 400px;
    width: 550px;
    overflow: hidden;
    margin:5px;
}

.content img a:hover {
    color: black;
    

}

.contact {
    margin:auto;
    width: 750px;
    border: 1px solid black;
    padding: 20px;
    overflow: hidden;
}

.contact img {
    margin-right:55px;
    float:left;
}

.contact-text {
    text-align:left;
    margin-top:150px;
}


.nav {
    margin: 50px 30px;
    font-size: 15px;
    text-align: center;
    line-height: 5px;
}

.nav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.nav li {
    display:inline-block;
}

.nav ul a:link {
    text-decoration:none;
    margin: 20px;
    color:black;
    padding: 10px 1px; 

}

.nav li a:hover {
    color: #ffffff;
    border-bottom: 1px solid #DFDFDF;
    width:90px;
    transition:.5s;
}


a:link {
    color:black;
    text-decoration: none;
        
}

a:visited {
    color:black;

}

a:active {
    color:black;
}

#footer {
    position: relative;
    font-size: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}